.item {
  margin-bottom: 10px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator_page {
  padding: 30px 0 50px 0;

  width: fit-content;
  margin: 5rem;

  background-color: #e9f1f7;
  border: 0.15rem solid #1a65c757;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  padding: 1rem;
}

.payment {
  font-size: 22px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form {
  margin-right: 30px;
}

.list {
  list-style: none;
}

.list_item {
  width: 300px;
  margin-bottom: 15px;
}

.bank_text {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
