.item {
  margin-bottom: 10px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator_page {
  padding: 0.5rem;
  width: fit-content;
  margin-top: 1.5rem;

  background-color: #e9f1f7;
  border: 0.15rem solid #1a65c757;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.payment {
  font-size: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form {
  margin-right: 25px;
}

.list {
  list-style: none;
}

.list_item {
  width: 300px;
  margin-bottom: 15px;
}

.bank_text {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
