.item {
  margin-bottom: 10px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Dancing, cursive;
}

.calculator_page {
  padding: 0.5rem;
  width: fit-content;
  margin-top: 1.5rem;

  background-color: #e9f1f7;
  border: 0.15rem solid #1a65c757;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.payment {
  font-size: 18px;
  font-family: Dancing;
  font-weight: 700;
  color: rgb(2, 81, 84);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form {
  margin-right: 25px;
}

.list {
  list-style: none;
}

.list_item {
  width: 300px;
  margin-bottom: 15px;
  font-family: Dancing;
}

.list_item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.bank_text {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.formula {
  width: 120px;
  margin-top: 10px;
  padding: 10px;
}

.comment {
  margin-top: 10px;
  font-size: 14px;
  color: brown;
}
